
.navbar-brand {
  font-family: 'Peralta', cursive;
}

.link {
  color: white;
  font-family: 'Peralta', cursive;
}

.link:hover {
  color: white;
  opacity: 0.7;
}

.link-dark {
  color: black;
  font-family: 'Peralta', cursive;
}

.link-dark:hover {
  color: black;
  opacity: 0.7;
}
