{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Polls{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'poll-list' %}">CS50 Final Task</a>
      {% if request.user.is_authenticated %}
        <a class="nav-link link" href="{% url 'poll-statistics' %}">{{ request.user.username }}</a>
      {% else %}
      <div class="my-2 my-lg-0">
        <a class="nav-link link" href="{% url 'signup' %}">Sign Up</a>
        <a class="nav-link link" href="{% url 'login' %}">Login</a>
      </div>
      {% endif %}
    </div>
  </nav>
  <div class="container">
    <ol class="breadcrumb my-4">
      {% block breadcrumb %}
      {% endblock %}
    </ol>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
