{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Login</li>
{% endblock %}

{% block content %}
  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <p class="font-weight-bold" style="color: red;">{{ error }}</p>
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="font-weight-bold">{{ form.username.label_tag }}</label>
      <br>
      {{ form.username }}
    </div>
    <div class="form-group">
      <label for="password" class="font-weight-bold">{{ form.password.label_tag }}</label>
      <br>
      {{ form.password }}
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock %}
