{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Sign Up</li>
{% endblock %}

{% block content %}
  {% if form.errors %}
    <p class="font-weight-bold">Please, fix following errors:</p>
    {% for field in form %}
      {{ field.errors }}
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="font-weight-bold">{{ form.username.label_tag }}</label>
      {{ form.username }}
      <small id="username_help" class="form-text text-muted">{{ form.username.help_text }}}</small>
    </div>
    <div class="form-group">
      <label for="password1" class="font-weight-bold">{{ form.password1.label_tag }}</label>
      {{ form.password1 }}
      <small id="username_help" class="form-text text-muted" style="margin-left: -1.6rem">{{ form.password1.help_text }}</small>
    </div>
    <div class="form-group">
      <label for="password2" class="font-weight-bold">{{ form.password2.label_tag }}</label>
      {{ form.password2 }}
      <small id="username_help" class="form-text text-muted">{{ form.password2.help_text }}</small>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock %}
