{% extends 'base.html' %}

{% block title %}Poll result{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'poll-list' %}">Polls</a></li>
  <li class="breadcrumb-item"><a href="{% url 'poll' poll.pk %}">{{ poll.name }}</a></li>
  <li class="breadcrumb-item active">Poll result</li>
{% endblock %}

{% block content %}
<!-- TODO: Add style -->
  <p class="text-center" style="font-size: 4rem;">Your score</p>
  <div>
    <p class="text-center font-weight-bold" style="font-size: 4rem; color: red;">
      {{ score }} / {{ poll.questions.count }}
    </p>
  </div>
  {% if mistaken_questions %}
  <p class="font-weight-bold" style="font-size: 2rem;"> Mistaken Questions</p>
    {% for mistaken_question in mistaken_questions %}
      <p class="font-italic" style="font-size: 1.3rem;">{{ mistaken_question.text}}</p>
      {% for answer in mistaken_question.answer_options.all %}
        <div class="answer_options" style="margin-left: 1rem;">
          {% if answer.is_correct %}
            <p class="font-weight-bold" style="color: red;"> - {{ answer.text }} (Correct)</p>
          {% else %}
            <p> - {{ answer.text }}</p>
          {% endif %}
        </div>
      {% endfor %}
    {% endfor %}
  {% else %}
    <p class="font-weight-bold" style="font-size: 2rem;">No mistakes!</p>
  {% endif %}
{% endblock %}
