{% extends 'base.html' %}

{% block title %}Take poll{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'poll-list' %}">Polls</a></li>
  <li class="breadcrumb-item active">{{ poll.name }}</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {% for question in questions %}
        <br>
        <p class="font-weight-bold">{{ question.text }}</p>
        {% for answer_option in question.answer_options.all %}
        <div class="form-check">
          <input type="radio" class="form-check-input" id="{{ question.pk }}" name="{{ question.pk }}_answer_option" value="{{ question.pk }}_{{ answer_option.is_correct }}">
          <label class="form-check-label" for="{{ question.pk }}">
            {{ answer_option.text }}
          </label>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock %}
