{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Statistics</li>
{% endblock %}

{% block content %}
  <p class="font-weight-bold text-center">Poll statistics for <span style="color: red;">{{ request.user.username }}</span></p>
  <p class="font-weight-bold text-center">Do you want to <a href="{% url 'logout' %}" class="link-dark">logout</a>?</p>
  <a class="link" href="{% url 'logout' %}">Logout</a>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Poll</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for poll_result in poll_results %}
        <tr>
          <td>
            <a href="{% url 'poll' poll_result.poll.pk %}">{{ poll_result.poll.name }}</a>
          </td>
          <td>{{ poll_result.score }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
