{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Polls</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Poll</th>
        <th>Questions count</th>
        <th>Start date</th>
        <th>End date</th>
      </tr>
    </thead>
    <tbody>
      {% for poll in polls %}
        <tr>
          <td>
            <a href="{% url 'poll' poll.pk %}">{{ poll.name }}</a>
            <small class="text-muted d-block">{{ poll.desc }}</small></td>
          </td>
          <td>
            {{ poll.questions.count }}
          </td>
          <td>
            {{ poll.start_date }}
          </td>
          <td>
            {{ poll.end_date }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
