{% extends 'base.html' %}

{% block title %}Take poll{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'poll-list' %}">Polls</a></li>
  <li class="breadcrumb-item active">{{ poll.name }}</li>
{% endblock %}

{% block content %}
  <p class="font-weight-bold text-center" style="font-size: 2rem">Opps...</p>
  <p class="font-weight-bold text-center" >{{ message }}</p>
{% endblock %}
